<?php
/**
 * OrderApi
 * PHP version 5
 *
 * @category Class
 * @package  VentureLeap\OrderService
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Order API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 3.0.20
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace VentureLeap\OrderService\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use VentureLeap\OrderService\ApiException;
use VentureLeap\OrderService\Configuration;
use VentureLeap\OrderService\HeaderSelector;
use VentureLeap\OrderService\ObjectSerializer;

/**
 * OrderApi Class Doc Comment
 *
 * @category Class
 * @package  VentureLeap\OrderService
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class OrderApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation deleteOrderItem
     *
     * Removes the Order resource.
     *
     * @param  string $id id (required)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function deleteOrderItem($id)
    {
        $this->deleteOrderItemWithHttpInfo($id);
    }

    /**
     * Operation deleteOrderItemWithHttpInfo
     *
     * Removes the Order resource.
     *
     * @param  string $id (required)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteOrderItemWithHttpInfo($id)
    {
        $returnType = '';
        $request = $this->deleteOrderItemRequest($id);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation deleteOrderItemAsync
     *
     * Removes the Order resource.
     *
     * @param  string $id (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteOrderItemAsync($id)
    {
        return $this->deleteOrderItemAsyncWithHttpInfo($id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation deleteOrderItemAsyncWithHttpInfo
     *
     * Removes the Order resource.
     *
     * @param  string $id (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteOrderItemAsyncWithHttpInfo($id)
    {
        $returnType = '';
        $request = $this->deleteOrderItemRequest($id);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'deleteOrderItem'
     *
     * @param  string $id (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function deleteOrderItemRequest($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id when calling deleteOrderItem'
            );
        }

        $resourcePath = '/order/orders/{id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{' . 'id' . '}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                []
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                [],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'DELETE',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getOrderCollection
     *
     * Retrieves the collection of Order resources.
     *
     * @param  string[] $properties Allows you to reduce the response to contain only the properties you need. If your desired property is nested, you can address it using nested arrays. Example: properties[]&#x3D;{propertyName}&amp;properties[]&#x3D;{anotherPropertyName}&amp;properties[{nestedPropertyParent}][]&#x3D;{nestedProperty} (optional)
     * @param  string $uuid uuid (optional)
     * @param  string[] $uuid uuid (optional)
     * @param  string $application_id application_id (optional)
     * @param  string[] $application_id application_id (optional)
     * @param  string $order_code order_code (optional)
     * @param  string[] $order_code order_code (optional)
     * @param  string $status status (optional)
     * @param  string[] $status status (optional)
     * @param  string $payment_status payment_status (optional)
     * @param  string[] $payment_status payment_status (optional)
     * @param  string $payment_date payment_date (optional)
     * @param  string $payment_date payment_date (optional)
     * @param  string $customer_uuid customer_uuid (optional)
     * @param  string[] $customer_uuid customer_uuid (optional)
     * @param  string $internal_comment internal_comment (optional)
     * @param  string[] $internal_comment internal_comment (optional)
     * @param  string $customer_comment customer_comment (optional)
     * @param  string[] $customer_comment customer_comment (optional)
     * @param  string $created_at created_at (optional)
     * @param  string $created_at created_at (optional)
     * @param  string $updated_at updated_at (optional)
     * @param  string $updated_at updated_at (optional)
     * @param  bool $active active (optional)
     * @param  bool[] $active active (optional)
     * @param  bool $deleted deleted (optional)
     * @param  bool[] $deleted deleted (optional)
     * @param  string $additional_properties additional_properties (optional)
     * @param  string[] $additional_properties additional_properties (optional)
     * @param  int $page The collection page number (optional, default to 1)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \VentureLeap\OrderService\Model\InlineResponse2002
     */
    public function getOrderCollection($properties = null, $uuid = null, $uuid = null, $application_id = null, $application_id = null, $order_code = null, $order_code = null, $status = null, $status = null, $payment_status = null, $payment_status = null, $payment_date = null, $payment_date = null, $customer_uuid = null, $customer_uuid = null, $internal_comment = null, $internal_comment = null, $customer_comment = null, $customer_comment = null, $created_at = null, $created_at = null, $updated_at = null, $updated_at = null, $active = null, $active = null, $deleted = null, $deleted = null, $additional_properties = null, $additional_properties = null, $page = '1')
    {
        list($response) = $this->getOrderCollectionWithHttpInfo($properties, $uuid, $uuid, $application_id, $application_id, $order_code, $order_code, $status, $status, $payment_status, $payment_status, $payment_date, $payment_date, $customer_uuid, $customer_uuid, $internal_comment, $internal_comment, $customer_comment, $customer_comment, $created_at, $created_at, $updated_at, $updated_at, $active, $active, $deleted, $deleted, $additional_properties, $additional_properties, $page);
        return $response;
    }

    /**
     * Operation getOrderCollectionWithHttpInfo
     *
     * Retrieves the collection of Order resources.
     *
     * @param  string[] $properties Allows you to reduce the response to contain only the properties you need. If your desired property is nested, you can address it using nested arrays. Example: properties[]&#x3D;{propertyName}&amp;properties[]&#x3D;{anotherPropertyName}&amp;properties[{nestedPropertyParent}][]&#x3D;{nestedProperty} (optional)
     * @param  string $uuid (optional)
     * @param  string[] $uuid (optional)
     * @param  string $application_id (optional)
     * @param  string[] $application_id (optional)
     * @param  string $order_code (optional)
     * @param  string[] $order_code (optional)
     * @param  string $status (optional)
     * @param  string[] $status (optional)
     * @param  string $payment_status (optional)
     * @param  string[] $payment_status (optional)
     * @param  string $payment_date (optional)
     * @param  string $payment_date (optional)
     * @param  string $customer_uuid (optional)
     * @param  string[] $customer_uuid (optional)
     * @param  string $internal_comment (optional)
     * @param  string[] $internal_comment (optional)
     * @param  string $customer_comment (optional)
     * @param  string[] $customer_comment (optional)
     * @param  string $created_at (optional)
     * @param  string $created_at (optional)
     * @param  string $updated_at (optional)
     * @param  string $updated_at (optional)
     * @param  bool $active (optional)
     * @param  bool[] $active (optional)
     * @param  bool $deleted (optional)
     * @param  bool[] $deleted (optional)
     * @param  string $additional_properties (optional)
     * @param  string[] $additional_properties (optional)
     * @param  int $page The collection page number (optional, default to 1)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \VentureLeap\OrderService\Model\InlineResponse2002, HTTP status code, HTTP response headers (array of strings)
     */
    public function getOrderCollectionWithHttpInfo($properties = null, $uuid = null, $uuid = null, $application_id = null, $application_id = null, $order_code = null, $order_code = null, $status = null, $status = null, $payment_status = null, $payment_status = null, $payment_date = null, $payment_date = null, $customer_uuid = null, $customer_uuid = null, $internal_comment = null, $internal_comment = null, $customer_comment = null, $customer_comment = null, $created_at = null, $created_at = null, $updated_at = null, $updated_at = null, $active = null, $active = null, $deleted = null, $deleted = null, $additional_properties = null, $additional_properties = null, $page = '1')
    {
        $returnType = '\VentureLeap\OrderService\Model\InlineResponse2002';
        $request = $this->getOrderCollectionRequest($properties, $uuid, $uuid, $application_id, $application_id, $order_code, $order_code, $status, $status, $payment_status, $payment_status, $payment_date, $payment_date, $customer_uuid, $customer_uuid, $internal_comment, $internal_comment, $customer_comment, $customer_comment, $created_at, $created_at, $updated_at, $updated_at, $active, $active, $deleted, $deleted, $additional_properties, $additional_properties, $page);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\VentureLeap\OrderService\Model\InlineResponse2002',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getOrderCollectionAsync
     *
     * Retrieves the collection of Order resources.
     *
     * @param  string[] $properties Allows you to reduce the response to contain only the properties you need. If your desired property is nested, you can address it using nested arrays. Example: properties[]&#x3D;{propertyName}&amp;properties[]&#x3D;{anotherPropertyName}&amp;properties[{nestedPropertyParent}][]&#x3D;{nestedProperty} (optional)
     * @param  string $uuid (optional)
     * @param  string[] $uuid (optional)
     * @param  string $application_id (optional)
     * @param  string[] $application_id (optional)
     * @param  string $order_code (optional)
     * @param  string[] $order_code (optional)
     * @param  string $status (optional)
     * @param  string[] $status (optional)
     * @param  string $payment_status (optional)
     * @param  string[] $payment_status (optional)
     * @param  string $payment_date (optional)
     * @param  string $payment_date (optional)
     * @param  string $customer_uuid (optional)
     * @param  string[] $customer_uuid (optional)
     * @param  string $internal_comment (optional)
     * @param  string[] $internal_comment (optional)
     * @param  string $customer_comment (optional)
     * @param  string[] $customer_comment (optional)
     * @param  string $created_at (optional)
     * @param  string $created_at (optional)
     * @param  string $updated_at (optional)
     * @param  string $updated_at (optional)
     * @param  bool $active (optional)
     * @param  bool[] $active (optional)
     * @param  bool $deleted (optional)
     * @param  bool[] $deleted (optional)
     * @param  string $additional_properties (optional)
     * @param  string[] $additional_properties (optional)
     * @param  int $page The collection page number (optional, default to 1)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getOrderCollectionAsync($properties = null, $uuid = null, $uuid = null, $application_id = null, $application_id = null, $order_code = null, $order_code = null, $status = null, $status = null, $payment_status = null, $payment_status = null, $payment_date = null, $payment_date = null, $customer_uuid = null, $customer_uuid = null, $internal_comment = null, $internal_comment = null, $customer_comment = null, $customer_comment = null, $created_at = null, $created_at = null, $updated_at = null, $updated_at = null, $active = null, $active = null, $deleted = null, $deleted = null, $additional_properties = null, $additional_properties = null, $page = '1')
    {
        return $this->getOrderCollectionAsyncWithHttpInfo($properties, $uuid, $uuid, $application_id, $application_id, $order_code, $order_code, $status, $status, $payment_status, $payment_status, $payment_date, $payment_date, $customer_uuid, $customer_uuid, $internal_comment, $internal_comment, $customer_comment, $customer_comment, $created_at, $created_at, $updated_at, $updated_at, $active, $active, $deleted, $deleted, $additional_properties, $additional_properties, $page)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getOrderCollectionAsyncWithHttpInfo
     *
     * Retrieves the collection of Order resources.
     *
     * @param  string[] $properties Allows you to reduce the response to contain only the properties you need. If your desired property is nested, you can address it using nested arrays. Example: properties[]&#x3D;{propertyName}&amp;properties[]&#x3D;{anotherPropertyName}&amp;properties[{nestedPropertyParent}][]&#x3D;{nestedProperty} (optional)
     * @param  string $uuid (optional)
     * @param  string[] $uuid (optional)
     * @param  string $application_id (optional)
     * @param  string[] $application_id (optional)
     * @param  string $order_code (optional)
     * @param  string[] $order_code (optional)
     * @param  string $status (optional)
     * @param  string[] $status (optional)
     * @param  string $payment_status (optional)
     * @param  string[] $payment_status (optional)
     * @param  string $payment_date (optional)
     * @param  string $payment_date (optional)
     * @param  string $customer_uuid (optional)
     * @param  string[] $customer_uuid (optional)
     * @param  string $internal_comment (optional)
     * @param  string[] $internal_comment (optional)
     * @param  string $customer_comment (optional)
     * @param  string[] $customer_comment (optional)
     * @param  string $created_at (optional)
     * @param  string $created_at (optional)
     * @param  string $updated_at (optional)
     * @param  string $updated_at (optional)
     * @param  bool $active (optional)
     * @param  bool[] $active (optional)
     * @param  bool $deleted (optional)
     * @param  bool[] $deleted (optional)
     * @param  string $additional_properties (optional)
     * @param  string[] $additional_properties (optional)
     * @param  int $page The collection page number (optional, default to 1)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getOrderCollectionAsyncWithHttpInfo($properties = null, $uuid = null, $uuid = null, $application_id = null, $application_id = null, $order_code = null, $order_code = null, $status = null, $status = null, $payment_status = null, $payment_status = null, $payment_date = null, $payment_date = null, $customer_uuid = null, $customer_uuid = null, $internal_comment = null, $internal_comment = null, $customer_comment = null, $customer_comment = null, $created_at = null, $created_at = null, $updated_at = null, $updated_at = null, $active = null, $active = null, $deleted = null, $deleted = null, $additional_properties = null, $additional_properties = null, $page = '1')
    {
        $returnType = '\VentureLeap\OrderService\Model\InlineResponse2002';
        $request = $this->getOrderCollectionRequest($properties, $uuid, $uuid, $application_id, $application_id, $order_code, $order_code, $status, $status, $payment_status, $payment_status, $payment_date, $payment_date, $customer_uuid, $customer_uuid, $internal_comment, $internal_comment, $customer_comment, $customer_comment, $created_at, $created_at, $updated_at, $updated_at, $active, $active, $deleted, $deleted, $additional_properties, $additional_properties, $page);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getOrderCollection'
     *
     * @param  string[] $properties Allows you to reduce the response to contain only the properties you need. If your desired property is nested, you can address it using nested arrays. Example: properties[]&#x3D;{propertyName}&amp;properties[]&#x3D;{anotherPropertyName}&amp;properties[{nestedPropertyParent}][]&#x3D;{nestedProperty} (optional)
     * @param  string $uuid (optional)
     * @param  string[] $uuid (optional)
     * @param  string $application_id (optional)
     * @param  string[] $application_id (optional)
     * @param  string $order_code (optional)
     * @param  string[] $order_code (optional)
     * @param  string $status (optional)
     * @param  string[] $status (optional)
     * @param  string $payment_status (optional)
     * @param  string[] $payment_status (optional)
     * @param  string $payment_date (optional)
     * @param  string $payment_date (optional)
     * @param  string $customer_uuid (optional)
     * @param  string[] $customer_uuid (optional)
     * @param  string $internal_comment (optional)
     * @param  string[] $internal_comment (optional)
     * @param  string $customer_comment (optional)
     * @param  string[] $customer_comment (optional)
     * @param  string $created_at (optional)
     * @param  string $created_at (optional)
     * @param  string $updated_at (optional)
     * @param  string $updated_at (optional)
     * @param  bool $active (optional)
     * @param  bool[] $active (optional)
     * @param  bool $deleted (optional)
     * @param  bool[] $deleted (optional)
     * @param  string $additional_properties (optional)
     * @param  string[] $additional_properties (optional)
     * @param  int $page The collection page number (optional, default to 1)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getOrderCollectionRequest($properties = null, $uuid = null, $uuid = null, $application_id = null, $application_id = null, $order_code = null, $order_code = null, $status = null, $status = null, $payment_status = null, $payment_status = null, $payment_date = null, $payment_date = null, $customer_uuid = null, $customer_uuid = null, $internal_comment = null, $internal_comment = null, $customer_comment = null, $customer_comment = null, $created_at = null, $created_at = null, $updated_at = null, $updated_at = null, $active = null, $active = null, $deleted = null, $deleted = null, $additional_properties = null, $additional_properties = null, $page = '1')
    {

        $resourcePath = '/order/orders';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if (is_array($properties)) {
            $properties = ObjectSerializer::serializeCollection($properties, 'multi', true);
        }
        if ($properties !== null) {
            $queryParams['properties[]'] = ObjectSerializer::toQueryValue($properties);
        }
        // query params
        if ($uuid !== null) {
            $queryParams['uuid'] = ObjectSerializer::toQueryValue($uuid);
        }
        // query params
        if (is_array($uuid)) {
            $uuid = ObjectSerializer::serializeCollection($uuid, 'multi', true);
        }
        if ($uuid !== null) {
            $queryParams['uuid[]'] = ObjectSerializer::toQueryValue($uuid);
        }
        // query params
        if ($application_id !== null) {
            $queryParams['applicationId'] = ObjectSerializer::toQueryValue($application_id);
        }
        // query params
        if (is_array($application_id)) {
            $application_id = ObjectSerializer::serializeCollection($application_id, 'multi', true);
        }
        if ($application_id !== null) {
            $queryParams['applicationId[]'] = ObjectSerializer::toQueryValue($application_id);
        }
        // query params
        if ($order_code !== null) {
            $queryParams['orderCode'] = ObjectSerializer::toQueryValue($order_code);
        }
        // query params
        if (is_array($order_code)) {
            $order_code = ObjectSerializer::serializeCollection($order_code, 'multi', true);
        }
        if ($order_code !== null) {
            $queryParams['orderCode[]'] = ObjectSerializer::toQueryValue($order_code);
        }
        // query params
        if ($status !== null) {
            $queryParams['status'] = ObjectSerializer::toQueryValue($status);
        }
        // query params
        if (is_array($status)) {
            $status = ObjectSerializer::serializeCollection($status, 'multi', true);
        }
        if ($status !== null) {
            $queryParams['status[]'] = ObjectSerializer::toQueryValue($status);
        }
        // query params
        if ($payment_status !== null) {
            $queryParams['paymentStatus'] = ObjectSerializer::toQueryValue($payment_status);
        }
        // query params
        if (is_array($payment_status)) {
            $payment_status = ObjectSerializer::serializeCollection($payment_status, 'multi', true);
        }
        if ($payment_status !== null) {
            $queryParams['paymentStatus[]'] = ObjectSerializer::toQueryValue($payment_status);
        }
        // query params
        if ($payment_date !== null) {
            $queryParams['paymentDate'] = ObjectSerializer::toQueryValue($payment_date);
        }
        // query params
        if ($payment_date !== null) {
            $queryParams['paymentDate[]'] = ObjectSerializer::toQueryValue($payment_date);
        }
        // query params
        if ($customer_uuid !== null) {
            $queryParams['customerUuid'] = ObjectSerializer::toQueryValue($customer_uuid);
        }
        // query params
        if (is_array($customer_uuid)) {
            $customer_uuid = ObjectSerializer::serializeCollection($customer_uuid, 'multi', true);
        }
        if ($customer_uuid !== null) {
            $queryParams['customerUuid[]'] = ObjectSerializer::toQueryValue($customer_uuid);
        }
        // query params
        if ($internal_comment !== null) {
            $queryParams['internalComment'] = ObjectSerializer::toQueryValue($internal_comment);
        }
        // query params
        if (is_array($internal_comment)) {
            $internal_comment = ObjectSerializer::serializeCollection($internal_comment, 'multi', true);
        }
        if ($internal_comment !== null) {
            $queryParams['internalComment[]'] = ObjectSerializer::toQueryValue($internal_comment);
        }
        // query params
        if ($customer_comment !== null) {
            $queryParams['customerComment'] = ObjectSerializer::toQueryValue($customer_comment);
        }
        // query params
        if (is_array($customer_comment)) {
            $customer_comment = ObjectSerializer::serializeCollection($customer_comment, 'multi', true);
        }
        if ($customer_comment !== null) {
            $queryParams['customerComment[]'] = ObjectSerializer::toQueryValue($customer_comment);
        }
        // query params
        if ($created_at !== null) {
            $queryParams['createdAt'] = ObjectSerializer::toQueryValue($created_at);
        }
        // query params
        if ($created_at !== null) {
            $queryParams['createdAt[]'] = ObjectSerializer::toQueryValue($created_at);
        }
        // query params
        if ($updated_at !== null) {
            $queryParams['updatedAt'] = ObjectSerializer::toQueryValue($updated_at);
        }
        // query params
        if ($updated_at !== null) {
            $queryParams['updatedAt[]'] = ObjectSerializer::toQueryValue($updated_at);
        }
        // query params
        if ($active !== null) {
            $queryParams['active'] = ObjectSerializer::toQueryValue($active);
        }
        // query params
        if (is_array($active)) {
            $active = ObjectSerializer::serializeCollection($active, 'multi', true);
        }
        if ($active !== null) {
            $queryParams['active[]'] = ObjectSerializer::toQueryValue($active);
        }
        // query params
        if ($deleted !== null) {
            $queryParams['deleted'] = ObjectSerializer::toQueryValue($deleted);
        }
        // query params
        if (is_array($deleted)) {
            $deleted = ObjectSerializer::serializeCollection($deleted, 'multi', true);
        }
        if ($deleted !== null) {
            $queryParams['deleted[]'] = ObjectSerializer::toQueryValue($deleted);
        }
        // query params
        if ($additional_properties !== null) {
            $queryParams['additionalProperties'] = ObjectSerializer::toQueryValue($additional_properties);
        }
        // query params
        if (is_array($additional_properties)) {
            $additional_properties = ObjectSerializer::serializeCollection($additional_properties, 'multi', true);
        }
        if ($additional_properties !== null) {
            $queryParams['additionalProperties[]'] = ObjectSerializer::toQueryValue($additional_properties);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = ObjectSerializer::toQueryValue($page);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/ld+json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/ld+json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getOrderItem
     *
     * Retrieves a Order resource.
     *
     * @param  string $id id (required)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \VentureLeap\OrderService\Model\OrderJsonldOrderRead
     */
    public function getOrderItem($id)
    {
        list($response) = $this->getOrderItemWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getOrderItemWithHttpInfo
     *
     * Retrieves a Order resource.
     *
     * @param  string $id (required)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \VentureLeap\OrderService\Model\OrderJsonldOrderRead, HTTP status code, HTTP response headers (array of strings)
     */
    public function getOrderItemWithHttpInfo($id)
    {
        $returnType = '\VentureLeap\OrderService\Model\OrderJsonldOrderRead';
        $request = $this->getOrderItemRequest($id);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\VentureLeap\OrderService\Model\OrderJsonldOrderRead',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getOrderItemAsync
     *
     * Retrieves a Order resource.
     *
     * @param  string $id (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getOrderItemAsync($id)
    {
        return $this->getOrderItemAsyncWithHttpInfo($id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getOrderItemAsyncWithHttpInfo
     *
     * Retrieves a Order resource.
     *
     * @param  string $id (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getOrderItemAsyncWithHttpInfo($id)
    {
        $returnType = '\VentureLeap\OrderService\Model\OrderJsonldOrderRead';
        $request = $this->getOrderItemRequest($id);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getOrderItem'
     *
     * @param  string $id (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getOrderItemRequest($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id when calling getOrderItem'
            );
        }

        $resourcePath = '/order/orders/{id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{' . 'id' . '}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/ld+json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/ld+json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation postOrderCollection
     *
     * Creates a Order resource.
     *
     * @param  map[string,object] $body The new Order resource (optional)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \VentureLeap\OrderService\Model\OrderJsonldOrderRead
     */
    public function postOrderCollection($body = null)
    {
        list($response) = $this->postOrderCollectionWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation postOrderCollectionWithHttpInfo
     *
     * Creates a Order resource.
     *
     * @param  map[string,object] $body The new Order resource (optional)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \VentureLeap\OrderService\Model\OrderJsonldOrderRead, HTTP status code, HTTP response headers (array of strings)
     */
    public function postOrderCollectionWithHttpInfo($body = null)
    {
        $returnType = '\VentureLeap\OrderService\Model\OrderJsonldOrderRead';
        $request = $this->postOrderCollectionRequest($body);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\VentureLeap\OrderService\Model\OrderJsonldOrderRead',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation postOrderCollectionAsync
     *
     * Creates a Order resource.
     *
     * @param  map[string,object] $body The new Order resource (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function postOrderCollectionAsync($body = null)
    {
        return $this->postOrderCollectionAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation postOrderCollectionAsyncWithHttpInfo
     *
     * Creates a Order resource.
     *
     * @param  map[string,object] $body The new Order resource (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function postOrderCollectionAsyncWithHttpInfo($body = null)
    {
        $returnType = '\VentureLeap\OrderService\Model\OrderJsonldOrderRead';
        $request = $this->postOrderCollectionRequest($body);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'postOrderCollection'
     *
     * @param  map[string,object] $body The new Order resource (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function postOrderCollectionRequest($body = null)
    {

        $resourcePath = '/order/orders';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/ld+json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/ld+json'],
                ['application/ld+json']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation putOrderItem
     *
     * Replaces the Order resource.
     *
     * @param  string $id id (required)
     * @param  map[string,object] $body The updated Order resource (optional)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \VentureLeap\OrderService\Model\OrderJsonldOrderRead
     */
    public function putOrderItem($id, $body = null)
    {
        list($response) = $this->putOrderItemWithHttpInfo($id, $body);
        return $response;
    }

    /**
     * Operation putOrderItemWithHttpInfo
     *
     * Replaces the Order resource.
     *
     * @param  string $id (required)
     * @param  map[string,object] $body The updated Order resource (optional)
     *
     * @throws \VentureLeap\OrderService\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \VentureLeap\OrderService\Model\OrderJsonldOrderRead, HTTP status code, HTTP response headers (array of strings)
     */
    public function putOrderItemWithHttpInfo($id, $body = null)
    {
        $returnType = '\VentureLeap\OrderService\Model\OrderJsonldOrderRead';
        $request = $this->putOrderItemRequest($id, $body);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\VentureLeap\OrderService\Model\OrderJsonldOrderRead',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation putOrderItemAsync
     *
     * Replaces the Order resource.
     *
     * @param  string $id (required)
     * @param  map[string,object] $body The updated Order resource (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function putOrderItemAsync($id, $body = null)
    {
        return $this->putOrderItemAsyncWithHttpInfo($id, $body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation putOrderItemAsyncWithHttpInfo
     *
     * Replaces the Order resource.
     *
     * @param  string $id (required)
     * @param  map[string,object] $body The updated Order resource (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function putOrderItemAsyncWithHttpInfo($id, $body = null)
    {
        $returnType = '\VentureLeap\OrderService\Model\OrderJsonldOrderRead';
        $request = $this->putOrderItemRequest($id, $body);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'putOrderItem'
     *
     * @param  string $id (required)
     * @param  map[string,object] $body The updated Order resource (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function putOrderItemRequest($id, $body = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id when calling putOrderItem'
            );
        }

        $resourcePath = '/order/orders/{id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{' . 'id' . '}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/ld+json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/ld+json'],
                ['application/ld+json']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('Authorization');
        if ($apiKey !== null) {
            $headers['Authorization'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'PUT',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
